<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>建立团队</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--[if lt IE 9]>
<link href="https://cdn.bootcss.com/bootstrap/2.0.4/css/bootstrap.min.css" rel="stylesheet">
<![endif]-->
<!--[if gte IE 9]><!-->
    <!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
<!--<![endif]-->
    <style>
    body{
        background-size:100%;
    }
    @media (max-width: 970px) {
        body{
            background-size:1000px 100%;
        }
    }
.container{
    margin-top:10%;
}

#teamForm{
    display: block;
    margin:0 auto;
    padding:10px;
    max-width: 320px;
    border:2px solid #0A74D0;
}
#sub,#back{
    width:100px;
    height: 30px;
    display: inline-block;
}
    </style>
</head>
<body>

<div class='container' id='buildTeam'>
<form class="bs-example bs-example-form" id="teamForm"  action="/successB" role='form' method='post' >
	<h2>创建团队:</h2>
     	<div class="input-group">
            <span class="input-group-addon" style='width:80px;'>名称</span>
            <input  name='name' id='name' v-on:focus='tipname' type="text"  class="form-control">
        </div>
		<div id='tipname'></div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" style='width:80px;'>口令</span>
            <input  name='password' v-on:focus='tipPassword' type="password"  id='password' class="form-control">
        </div>
		<div id='tippassword'></div>

        <br>
        <div class="input-group">
            <span class="input-group-addon" style='width:80px;'>重复口令</span>
            <input  id='passworda' v-on:focus='tipPasswordA' type="password"   class="form-control">
        </div>
		<div id='tippassworda'></div>

        <br>
        <submit-button uid='<%=uid%>' class="btn btn-primary"></submit-button>
        <back-button uid='<%=uid%>' class="btn btn-warning"></back-button>
</form>
</div>

<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/2.0.1/bootstrap.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->

<!-- <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script> -->
<!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
<!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script src='js/use/vue.js'></script>
<script src='js/use/jquery.js'></script>
<script src='js/use/bootstrap.min.js'></script>
<!--<![endif]-->
<script src='/js/lib.js'></script>
<script src='/js/afterL/buildTeam.js'></script>
<!-- <script src="js/index.js"></script> -->

</body>
</html>