<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>加入团队</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--[if lt IE 9]>
<link href="https://cdn.bootcss.com/bootstrap/2.0.4/css/bootstrap.min.css" rel="stylesheet">
<![endif]-->
<!--[if gte IE 9]><!-->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!--<![endif]-->
	<style>
	body{
        background-size:100%;
    }
		.container{
			border:solid 2px #008D8E;
			border-radius: 0.5em;
			width:370px;
			display: block;
			margin:20% auto;
			padding:1em;
			box-shadow: 0 0 2px #596F8C;
		}
		#tip{
			color:red;
		}
		.btn{
		}
	</style>

</head>
<body>

	<div class="container" id='join'>
		<h4>请输入团队口令：</h4>
		<p id='tip'></p>
		<input id='pw' />
		<button v-on:click='ok' style='box-shadow: 0 0 2px #305598;' class='btn btn-primary'>确认</button>
		<button v-on:click='back' style='box-shadow: 0 0 2px #BD931C;' class='btn btn-warning'>返回主页</button>
	</div>



<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/2.0.1/bootstrap.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<!-- <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script> -->
<!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> -->
<!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<script src='js/use/vue.js'></script>
<script src='js/use/jquery.js'></script>
<script src='js/use/bootstrap.min.js'></script>
<!--<![endif]-->
<script src='js/lib.js'></script>
<!-- <script src="js/index.js"></script> -->

<script>
var join = new Vue({
	el:'#join',
	data:{
		uidEnsure:{ uid:'<%=uid%>' },
	},
	methods:{
		back:function(){ formPostUrl('/main',this.uidEnsure); },
		ok:function(){
			var okEnsure = {
				password:document.getElementById('pw').value.trim(),
				uid:'<%=uid%>',
				tid:'<%=tid%>',
			}
			console.log(okEnsure);
			var J_data = JSON.stringify(okEnsure);
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("POST","/join_ok",true);
			xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			xmlhttp.send("J_data="+J_data);
			xmlhttp.onreadystatechange=function(){
 				if(xmlhttp.readyState==4 && xmlhttp.status==200){
 					var judge = JSON.parse(xmlhttp.responseText);
 					console.log(judge)
 					if(judge){ join.back();}
 					else{  document.getElementById('tip').innerText='口令不对!'; }
 				}
 			}
		}
	}
});


</script>	
</body>
</html>