<!DOCTYPE html>
<html lang="zh-CN">
<html>
<head>
    <meta charset="utf-8">
	<title>Seanet-登录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style>
    *{
        transition:all 0.3s;
    }
    body{
        background: url(img/dot20.png);
    }

    .container{
        z-index:100;
        overflow: hidden;
        margin:10% auto;
        display: flex;
        justify-content: space-between;
}
#logo{
    float: left;
    position:relative;
    width:393px;
    height:232px;
    min-width:300px;
    min-height:180px;
    background-image:url(img/hait.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
#logo>h1{
    position: absolute;
    display: inline-block;
    width:55%;
    height:40%;
    bottom:0;
    right: 0;
    font:40px "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color:#fff;
    text-align: center;
    margin:0; 
    padding:0;
}
    @media(max-width: 960px) {
        .container{
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

    }
    @media(max-width: 393px) {
        #logo{
            width:100%;
        }
        #logo>h1{
            font-size:31px;
        }
    }
    #loginForm{
        width:393px;
        height:232px;
        float: left;
        border: 2px solid #fff;
        box-shadow: 0 0 3px #fff;
        display:inline-block;
        background: rgba(250,250,250,0.4);
        padding:20px;
    }
    @media(max-width: 393px) {
        .container{
            width: 100%;
            margin-top: 20%;
            padding:0;
            border-radius: 0;
        }
        #loginForm{
            width:100%;
        }
    }
    #tipinfo{
        text-align: center;
        color:#DF1A2B;
    }
    #chooseRL{
        margin-top:20px;
        width:100%;
    }
    #uid,#password{
        height:44px;
        font-size:20px;
    }
    #submit{
        width:80%;
        margin-right:2%;
        height:40px;
        font-size:1.4em;
    }
    #regist{
        padding:0;
        float: right;
        line-height: 10px;
        width:15%;
        height:40px;
    }
    #forget{
        padding-left: 20px;
        margin-top:5px;
        line-height: 10px;
        float: right;
        width:30%;
        height:25px;
    }
.mw90{
    min-width: 90px;
}

</style>
</head>
<body>

<div class="container" id='login'>
    <div id="logo">
        <h1>Sea Net</h1>
    </div>    
    <form id='loginForm' class="bs-example bs-example-form"  role="form" action="/" method="post">
        <h4 id='tipinfo'><%=tipInfo%></h4>
        <div class="input-group">
            <span class="mw90 input-group-addon">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            用户名</span>
            <input type="text" class="form-control" name="uid" id="uid" placeholder="用户名">
        </div>
        <br>
        <div class="input-group">
            <span class="mw90 input-group-addon">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            密码
            </span>
            <input type="password" class="form-control"  name="password" id="password" placeholder="密码">
        </div>
        <div id='chooseRL'>
		  <input  type="submit" id="submit" class="btn btn-success" value="登录">
		  <input v-on:click='gettoregist' type="button" id="regist" class="btn btn-primary" value="注册">
        </div>
    </form>
</div>
<script src='https://cdn.bootcss.com/vue/2.5.7/vue.min.js'></script>
<script src='https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js'></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='/js/lib.js'></script>
<script src="/js/login.js"></script>
</body>
</html>