<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>登录成功</title>
</head>
<style>
	#faces{
		width:400px;
		height:200px;
	}
	#faces>div{
		width: 30px;
		height: 30px;
		margin:5px;
		float:left;
		display: inline-block;
	}
</style>
<body>

<div id='faces'>
	
</div>
<input type="text">

<script src="/socket.io/socket.io.js"></script>
<script>var socket = io();</script>
<script src='test.js'></script>
</body>
</html>