<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>登录成功</title>
</head>
<body>



<script src="/socket.io/socket.io.js"></script>
<script>var socket = io();</script>
<script src='test.js'></script>
</body>
</html>