<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>团队</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
    body{
        background-size:100%;
    }
    @media (max-width: 970px) {
        body{
            background-size:1000px 700px;
        }
    }
    #update{
        margin-left: 10px;
        width:80px;
        height:32px;
    }
    #back{
        margin-top:6px;
        float:  right;
    }
.container{
    margin:5% auto;
    width:95%;
    max-width:1300px;
}

.team{
    display: block;
    width:100%;
    height:auto;
}
.avator{
    display: inline-block;
    float: left;
    width:220px;
    height:220px;
    margin-right: 2em;
}
.avator img{
    width:100%;
    height:100%;
}
.info{
    display: inline-block;
    float: left;
    width:60%;
    min-width:200px;
    padding-left: 1em;
}
.id{
    font-size:1.3em;
    display: block;
}
.teamname{
    display: block;
    font-size:1.3em;
    margin:0.1em 0;
}
.level{
    display: block;
    font-size:1.3em;
}
.membernumber{
    display: block;
    font-size:1.3em;
}
.major{
    display: block;
    font-size:1.3em;
    margin:0.1em 0;
}
.introduce{
    display: block;
    width:98%;
    min-height:120px;
    font-size:1.3em;
    margin:0.2em 0;
}

</style>
</head>

<body>
    <div class="container" id='myteam'>
        <team-info uid='<%=uid%>' teaminfo='<%=teaminfo%>'></team-info>
    </div>
        <script src='https://cdn.bootcss.com/vue/2.5.7/vue.min.js'></script>
    <script src='https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js'></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='js/lib.js'></script>
    <script src='js/myteam.js'></script>
</body>
</html>