<!DOCTYPE html>
<html lang="zh-CN">
<html>
<head>
    <meta charset="utf-8">
	<title>注册</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--[if lt IE 9]>
<link href="https://cdn.bootcss.com/bootstrap/2.0.4/css/bootstrap.min.css" rel="stylesheet">
<![endif]-->
<!--[if gte IE 9]><!-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!--<![endif]-->
	<style>
    body{
        background:url('../img/014.jpg') no-repeat ;
        background-size:100%;
    }
    @media (max-width: 970px) {
        body{
            background-size:1000px 100%;
        }
    }
    @media (max-width: 450px) {
        .container{
            padding:0;
        }
    }
    #registForm{
        border:solid 1px #352466;
        background: rgba(255,255,255,0.3);
        padding:10px;
    }
    .container{
        padding-top:10%;
        max-width:500px;
    }
    .redBorder{
        border:solid 1px red;
    }
    .btn{
        width:30%;
    }
    </style>
</head>
<body>

<div class="container">

    <form class="bs-example bs-example-form" role="form" id='registForm' action="/registInfo" method="post">
    <h1>注册</h1>
    <div id='tip'></div>
    <div class="input-group">
        <span class="input-group-addon">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        用户名</span>
        <input type="text" class="form-control" name="username" id="username" placeholder="用户名">
    </div>
    <div><%= tipUserName%></div>
    <br>
    <div class="input-group">
    <span class="input-group-addon">
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
    密码</span>
         <input type="password" class="form-control"  name="password" id="password" placeholder="密码">
    </div>   
	<br>
	<div class="input-group">
    <span class="input-group-addon">
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        确认密码</span>
        <input type="password" class="form-control" name="passwordCheck" id="passwordCheck" >
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        邮箱</span>
        <input type="text" class="form-control" name="email" id="email" placeholder='用户邮箱'>
    </div>
    <p><%= tipEmail%></p>
    <br>

	<input type="button" id="sub" class="btn btn-success" value="提交">
    <input type="reset" id="reset" class="btn btn-warning" value="重置">
	<input type="button" id="backtologin" class="btn btn-primary" value="返回">
    </form>


    
</div>


<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/2.0.1/bootstrap.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<![endif]-->
<!-- <script src="/js/regist.js"></script> -->
<script src="js/index.js"></script>

</body>
</html>

 