<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Seanet-Tip of Buildteam</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style>
	body{
        background-size:100%;
    }
    @media (max-width: 970px) {
        body{
            background-size:1000px 100%;
        }
    }
	.container{
		display: block;
		padding:10px;
		margin:20% auto;
		border:solid 2px #86334a;
		max-width:500px;
		min-width:300px;
	}
	</style>
</head>

<body>
	<div class='container'>
		<h4>你已经建立了一个团队，如果要再建，必须先解散原来的团队．</h3>
		<button id='dont' class="btn btn-default">溜了溜了</button>
		<button id='dismiss' class="btn btn-warning">解散原团队</button>
	</div>
	<script src='js/lib.js'></script>
	<script>
		var uid = '<%=uid%>';
		var data = { uid:uid };
		document.getElementById('dont').onclick = function(){ formPost('/main',data); }
		document.getElementById('dismiss').onclick =function(){ formPost('/dismissTeam',data); }
	</script>
</body>
</html>